Repository openattic/ceph, pull requests merged in 2018-02, with the labels that each got.

#89 mgr/dashboard_v2: fix frontend bug in table.component.hml
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/table/table.component.html
Labels: dashboard/frontend

#92 mgr/dashboard_v2: Fix tox warnings
  src/pybind/mgr/dashboard_v2/.gitignore
  src/pybind/mgr/dashboard_v2/tox.ini
Labels: dashboard/backend

#90 mgr/dashboard_v2: Easy table cell transformation
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/table/table.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/table/table.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/enum/cell-template.enum.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/models/cd-table-column.ts
Labels: dashboard/frontend

#77 mgr/dashboard_v2: Add RGW page
  src/pybind/mgr/dashboard_v2/controllers/perf_counters.py
  src/pybind/mgr/dashboard_v2/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/ceph.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/hosts/hosts.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/performance-counter.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/services/table-performance-counter.service.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/services/table-performance-counter.service.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/table-performance-counter/table-performance-counter.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/table-performance-counter/table-performance-counter.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/table-performance-counter/table-performance-counter.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/table-performance-counter/table-performance-counter.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw-daemon-details/rgw-daemon-details.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw-daemon-details/rgw-daemon-details.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw-daemon-details/rgw-daemon-details.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw-daemon-details/rgw-daemon-details.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/services/rgw-daemon.service.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/services/rgw-daemon.service.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/datatable/datatable.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/datatable/table-details.directive.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/datatable/table-details.directive.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/datatable/table-key-value/table-key-value.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/datatable/table-key-value/table-key-value.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/datatable/table-key-value/table-key-value.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/datatable/table-key-value/table-key-value.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/datatable/table/table.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/datatable/table/table.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/datatable/table/table.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/datatable/table/table.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/shared.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/openattic-theme.scss
  src/pybind/mgr/dashboard_v2/module.py
  src/pybind/mgr/dashboard_v2/tests/test_perf_counters.py
Labels: dashboard/backend, dashboard/frontend

#93 mgr/dashboard_v2: add node as a local dependency
  src/pybind/mgr/dashboard_v2/frontend/package.json
Labels: dashboard/frontend

#96 mgr/dashboard_v2: Highlight clickable datatable rows if mouse hovers over them
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/datatable/table/table.component.scss
Labels: dashboard/frontend

#98 mgr/dashboard_v2/frontend: fix visibility of class properties
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/table-performance-counter/table-performance-counter.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw-daemon-details/rgw-daemon-details.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/datatable/table-key-value/table-key-value.component.ts
Labels: dashboard/frontend

#87 mgr/dashboard_v2: add View cache component
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/block.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/pool-detail/pool-detail.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/pool-detail/pool-detail.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/view-cache/view-cache.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/view-cache/view-cache.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/view-cache/view-cache.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/view-cache/view-cache.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/pipes/ellipsis.pipe.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/pipes/ellipsis.pipe.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/pipes/pipes.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/shared.module.ts
Labels: dashboard/frontend

#95 mgr/dashboard_v2: Updated README.rst, added HACKING.rst
  src/pybind/mgr/dashboard_v2/HACKING.rst
  src/pybind/mgr/dashboard_v2/README.rst
  src/pybind/mgr/dashboard_v2/frontend/README.md
Labels: documentation, enhancement

#97 mgr/dashboard_v2: Migrate standby module
  src/pybind/mgr/dashboard_v2/module.py
Labels: dashboard/backend

#65 mgr/dashboard_v2: add sparkline and monitor components
  src/pybind/mgr/dashboard_v2/controllers/monitor.py
  src/pybind/mgr/dashboard_v2/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/monitor.service.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/monitor.service.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/monitor/monitor.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/monitor/monitor.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/monitor/monitor.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/monitor/monitor.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/performance-counter.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/performance-counter/performance-counter.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/performance-counter/performance-counter.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/performance-counter/performance-counter.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/performance-counter/performance-counter.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/sparkline/sparkline.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/sparkline/sparkline.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/sparkline/sparkline.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/sparkline/sparkline.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/datatable.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table-details.directive.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table-details.directive.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table/table.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table/table.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table/table.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/enum/cell-template.enum.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/shared.module.ts
  src/pybind/mgr/dashboard_v2/tests/test_monitor.py
Labels: dashboard/backend, dashboard/frontend

#88 mgr/dashboard_v2: add 404 page
  src/pybind/mgr/dashboard_v2/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/core.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/not-found/not-found.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/not-found/not-found.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/not-found/not-found.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/not-found/not-found.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/services/auth-interceptor.service.ts
  src/pybind/mgr/dashboard_v2/frontend/src/assets/1280px-Mimic_Octopus2.jpg
Labels: dashboard/frontend

#102 mgr/dashboard_v2: Create links to perf counters
  src/pybind/mgr/dashboard_v2/controllers/perf_counters.py
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/hosts/hosts.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/hosts/hosts.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/service-list.pipe.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/service-list.pipe.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/performance-counter/performance-counter.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/performance-counter/performance-counter.component.ts
Labels: dashboard/frontend, enhancement

#82 mgr/dashboard_v2: Added tcmu iSCSI controller.
  src/pybind/mgr/dashboard_v2/controllers/tcmu_iscsi.py
  src/pybind/mgr/dashboard_v2/tests/helper.py
  src/pybind/mgr/dashboard_v2/tests/test_tcmu_iscsi.py
Labels: dashboard/backend

#79 mgr/dashboard_v2: add filesystem page
  src/pybind/mgr/dashboard_v2/.gitignore
  src/pybind/mgr/dashboard_v2/controllers/cephfs.py
  src/pybind/mgr/dashboard_v2/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/ceph.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cephfs/cephfs.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cephfs/cephfs.service.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cephfs/cephfs.service.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cephfs/cephfs/cephfs.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cephfs/cephfs/cephfs.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cephfs/cephfs/cephfs.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cephfs/cephfs/cephfs.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cephfs/clients/clients.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cephfs/clients/clients.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cephfs/clients/clients.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cephfs/clients/clients.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/polyfills.ts
  src/pybind/mgr/dashboard_v2/tests/test_cephfs.py
Labels: dashboard/backend, dashboard/frontend

#100 mgr/dashboard_v2: Datatable related code improvements
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/hosts/hosts.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/table-performance-counter/table-performance-counter.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/table-performance-counter/table-performance-counter.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw-daemon-details/rgw-daemon-details.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw-daemon-details/rgw-daemon-details.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table/table.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table/table.component.ts
Labels: dashboard/frontend, enhancement

#104 mgr/dashboard_v2: Add iSCSI page
  src/pybind/mgr/dashboard_v2/frontend/package.json
  src/pybind/mgr/dashboard_v2/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/block.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/iscsi/iscsi.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/iscsi/iscsi.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/iscsi/iscsi.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/iscsi/iscsi.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/pipes/list.pipe.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/pipes/list.pipe.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/pipes/pipes.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/pipes/relative-date.pipe.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/pipes/relative-date.pipe.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/services/formatter.service.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/services/services.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/services/tcmu-iscsi.service.ts
Labels: dashboard/frontend

#112 mgr/dashboard_v2: Migrate cluster configuration
  src/pybind/mgr/dashboard_v2/controllers/cluster_configuration.py
  src/pybind/mgr/dashboard_v2/tests/test_cluster_configuration.py
Labels: dashboard/backend

#123 mgr/dashboard_v2: Fixed capitalization on login page
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/auth/login/login.component.html
Labels: dashboard/frontend, enhancement

#105 mgr/dashboard_v2: Data transform in k/v table
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw-daemon-details/rgw-daemon-details.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table/table.component.ts
Labels: dashboard/frontend, enhancement

#122 mgr/dashboard_v2: Improve empty row style
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table/table.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/defaults.scss
Labels: dashboard/frontend, enhancement

#127 mgr/dashboard_v2: shared services infrastructure for controllers
  src/pybind/mgr/dashboard_v2/controllers/dashboard.py
  src/pybind/mgr/dashboard_v2/controllers/rgw.py
  src/pybind/mgr/dashboard_v2/controllers/tcmu_iscsi.py
  src/pybind/mgr/dashboard_v2/module.py
  src/pybind/mgr/dashboard_v2/services/__init__.py
  src/pybind/mgr/dashboard_v2/services/ceph_service.py
  src/pybind/mgr/dashboard_v2/tests/test_rgw.py
  src/pybind/mgr/dashboard_v2/tests/test_tcmu_iscsi.py
  src/pybind/mgr/dashboard_v2/tox.ini
Labels: dashboard/backend

#91 mgr/dashboard_v2: Ceph packaging process integration
  ceph.spec.in
  install-deps.sh
  make-dist
  src/pybind/mgr/dashboard_v2/.gitignore
  src/pybind/mgr/dashboard_v2/tox.ini
  src/vstart.sh
Labels: dashboard/backend, dashboard/frontend

#113 mgr/dashboard_v2: add ceph configuration documentation page
  src/pybind/mgr/dashboard_v2/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/ceph.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/configuration/configuration.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/configuration/configuration.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/configuration/configuration.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/configuration/configuration.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/pipes/filter.pipe.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/pipes/filter.pipe.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/pipes/pipes.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/services/configuration.service.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/services/configuration.service.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/services/services.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/shared.module.ts
Labels: dashboard/frontend

#125 mgr/dashboard_v2: Add missing i18n attributes
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/iscsi/iscsi.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/pool-detail/pool-detail.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cephfs/cephfs/cephfs.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cephfs/clients/clients.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/hosts/hosts.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/monitor/monitor.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/dashboard/dashboard/dashboard.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/performance-counter/performance-counter.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw-daemon-details/rgw-daemon-details.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/auth/logout/logout.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/not-found/not-found.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/components/view-cache/view-cache.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/index.html
Labels: dashboard/frontend

#116 mgr/dashboard_v2: Add RBD mirroring functionality
  src/pybind/mgr/dashboard_v2/__init__.py
  src/pybind/mgr/dashboard_v2/controllers/rbd_mirroring.py
  src/pybind/mgr/dashboard_v2/tests/test_rbd_mirroring.py
Labels: dashboard/backend

#133 mgr/dashboard_v2: Fix datatable header layout in configuration doc
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table/table.component.scss
Labels: dashboard/frontend

#132 mgr/dashboard_v2: fix padding problem
  src/pybind/mgr/dashboard_v2/frontend/src/app/app.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/dashboard/dashboard/dashboard.component.scss
Labels: dashboard/frontend

#111 mgr/dashboard_v2: OSD pages
  src/pybind/mgr/dashboard_v2/controllers/osd.py
  src/pybind/mgr/dashboard_v2/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/app.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/ceph.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/osd/osd-performance-histogram/osd-performance-histogram.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/osd/osd-performance-histogram/osd-performance-histogram.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/osd/osd-performance-histogram/osd-performance-histogram.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/osd/osd-performance-histogram/osd-performance-histogram.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/osd/osd.service.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/osd/osd.service.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table/table.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/enum/cell-template.enum.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/shared.module.ts
  src/pybind/mgr/dashboard_v2/tests/test_osd.py
Labels: dashboard/backend, dashboard/frontend

#131 mgr/dashboard_v2: Move `dashboard/toplevel` to a new controller
  src/pybind/mgr/dashboard_v2/controllers/dashboard.py
  src/pybind/mgr/dashboard_v2/controllers/rbd_mirroring.py
  src/pybind/mgr/dashboard_v2/controllers/summary.py
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/navigation/navigation/navigation.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/services/services.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/services/summary.service.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/services/summary.service.ts
  src/pybind/mgr/dashboard_v2/tests/test_dashboard.py
  src/pybind/mgr/dashboard_v2/tests/test_rbd_mirroring.py
  src/pybind/mgr/dashboard_v2/tests/test_summary.py
Labels: dashboard/backend, dashboard/frontend

#120 mgr/dashboard_v2: add mirroring page
  src/pybind/mgr/dashboard_v2/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/block.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/mirror-health-color.pipe.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/mirror-health-color.pipe.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/mirroring/mirroring.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/mirroring/mirroring.component.scss
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/mirroring/mirroring.component.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/mirroring/mirroring.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/navigation/navigation/navigation.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/services/rbd-mirroring.service.spec.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/services/rbd-mirroring.service.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/services/services.module.ts
Labels: dashboard/frontend

#134 mgr/dashboard_v2: Updated reference documentation
  doc/mgr/dashboard.rst
Labels: documentation, enhancement

#108 mgr/dashboard_v2: Add links on dashboard
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/dashboard/dashboard.module.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/dashboard/health/health.component.html
Labels: dashboard/frontend

#138 mgr/dashboard_v2: fix build/packaging issues
  install-deps.sh
  make-dist
Labels: dashboard/backend

#135 mgr/dashboard_v2: Adapt status datatable to default design of cd-table
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/monitor/monitor.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/monitor/monitor.component.scss
Labels: dashboard/frontend

#139 mgr/dashboard_v2: Enable table header and footer on perfcounters
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/table-performance-counter/table-performance-counter.component.html
Labels: dashboard/frontend, enhancement

#140 mgr/dashboard_v2: Fixed exception in rbd_mirroring
  src/pybind/mgr/dashboard_v2/controllers/rbd_mirroring.py
Labels: dashboard/backend

#124 mgr/dashboard_v2: Auto reload cd-table
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/iscsi/iscsi.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/iscsi/iscsi.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/mirroring/mirroring.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/mirroring/mirroring.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/block/pool-detail/pool-detail.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cephfs/cephfs/cephfs.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cephfs/cephfs/cephfs.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cephfs/clients/clients.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cephfs/clients/clients.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/monitor/monitor.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/monitor/monitor.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/performance-counter/performance-counter/performance-counter.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/shared/datatable/table/table.component.ts
Labels: dashboard/frontend

#141 mgr/dashboard_v2: Fix OSD status column
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard_v2/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.ts
  src/pybind/mgr/dashboard_v2/frontend/src/app/core/navigation/navigation/navigation.component.html
Labels: dashboard/frontend

#143 mgr/dashboard: fix bootstrap import
  src/pybind/mgr/dashboard_v2/frontend/.angular-cli.json
Labels: dashboard/frontend

#142 Remove meta classes
  src/pybind/mgr/dashboard_v2/HACKING.rst
  src/pybind/mgr/dashboard_v2/__init__.py
  src/pybind/mgr/dashboard_v2/controllers/auth.py
  src/pybind/mgr/dashboard_v2/controllers/cephfs.py
  src/pybind/mgr/dashboard_v2/controllers/cluster_configuration.py
  src/pybind/mgr/dashboard_v2/controllers/dashboard.py
  src/pybind/mgr/dashboard_v2/controllers/host.py
  src/pybind/mgr/dashboard_v2/controllers/monitor.py
  src/pybind/mgr/dashboard_v2/controllers/osd.py
  src/pybind/mgr/dashboard_v2/controllers/perf_counters.py
  src/pybind/mgr/dashboard_v2/controllers/rbd.py
  src/pybind/mgr/dashboard_v2/controllers/rbd_mirroring.py
  src/pybind/mgr/dashboard_v2/controllers/summary.py
  src/pybind/mgr/dashboard_v2/controllers/tcmu_iscsi.py
  src/pybind/mgr/dashboard_v2/module.py
  src/pybind/mgr/dashboard_v2/services/__init__.py
  src/pybind/mgr/dashboard_v2/services/ceph_service.py
  src/pybind/mgr/dashboard_v2/settings.py
  src/pybind/mgr/dashboard_v2/tests/test_rbd_mirroring.py
  src/pybind/mgr/dashboard_v2/tests/test_tcmu_iscsi.py
  src/pybind/mgr/dashboard_v2/tools.py
Labels: dashboard/backend, enhancement
